[Unit]
Description=Write current date and time to a file every 10 seconds

[Service]
User=root
WorkingDirectory=/data/service-test
ExecStart=/data/service-test/write_datetime.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target